extra/LukeOS.json
{
  "name": "LukeOS",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "poll"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -96
      ],
      "id": "5b7c0699-5ab2-4c88-89d6-b1760f5dff88",
      "name": "Telegram Trigger",
      "webhookId": "e18ed47f-519b-4d54-ac63-d04570c9546f",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "btT0rMApsFovOYJb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "18599b8e-1bf4-45b0-9bdb-1e098bc7155f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "26253612-0c70-41ef-865f-278419993996",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "plan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -96
      ],
      "id": "9e29fcf6-6ffd-49a2-8404-cc87582d7172",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are LukeOS, a helpful AI assistant.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $('Edit Fields').item.json.user_message }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        32
      ],
      "id": "da9a85cc-96d7-4083-9186-52b649ffe0bc",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "9BFVleSBfAPhNgcd",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46ee1ae9-cfc5-4a61-8776-75e679375620",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "76f99d26-b112-4e72-ba3f-8ef9877eef7a",
              "name": "user_message",
              "value": "=={{ $json.message.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -96
      ],
      "id": "ab778a3c-ff87-4a0d-96be-93a48053c930",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2137cd04-937d-4149-b6e5-dd2d3ad034ae",
              "name": "chat_id",
              "value": "=={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "ed04b4dc-6158-49c7-8c1a-4aa81d089abe",
              "name": "ai_response",
              "value": "=={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -144
      ],
      "id": "5d7202d5-8e65-4f9f-a384-61017796ec6e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8540636718:AAHc_827fM5l7p6GyocciHjjoLNiUykmJrw/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1966734159"
            },
            {
              "name": "text",
              "value": "={{ $json.ai_response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        16
      ],
      "id": "70903c74-5ca9-4bc7-be83-78034616a203",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "208096bf-6747-49df-babf-3cc4ed36068b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f42af9dd32a05950c49986b9dfd57790df4fc9cb2c95503e99dbbb2b04064db0"
  },
  "id": "KEOD40adIElApJq9",
  "tags": []
}