documentation/n8n-cron-jobs.json
{
  "name": "LukeOS - Main Chat",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "poll"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "btT0rMApsFovOYJb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "name": "user_message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "id": "trigger-edit",
      "name": "Trigger edit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "calendar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "meeting",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [650, 300],
      "id": "if-calendar",
      "name": "If Calendar"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "lukembogo5@gmail.com",
          "mode": "list"
        },
        "start": "={{ new Date(Date.now() + 86400000).toISOString().split('T')[0] + 'T14:00:00+03:00' }}",
        "end": "={{ new Date(Date.now() + 86400000).toISOString().split('T')[0] + 'T15:00:00+03:00' }}",
        "additionalFields": {
          "summary": "={{ $json.user_message }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [850, 200],
      "id": "create-event",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YyeLrhkFDs8vjEAe",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8540636718:AAHc_827fM5l7p6GyocciHjjoLNiUykmJrw/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1966734159"
            },
            {
              "name": "text",
              "value": "✅ Event created!\n\n📅 {{ $('Trigger edit').item.json.user_message }}\n🕐 Tomorrow at 2:00 PM"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1050, 200],
      "id": "calendar-confirm",
      "name": "Calendar Confirm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_message\": \"{{ $('Trigger edit').item.json.user_message }}\",\n  \"user_id\": \"1966734159\",\n  \"mode\": \"chat\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [850, 400],
      "id": "brain-service",
      "name": "Brain Service"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "chat_id",
              "value": "1966734159",
              "type": "string"
            },
            {
              "name": "ai_response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 400],
      "id": "map-response",
      "name": "Map Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8540636718:AAHc_827fM5l7p6GyocciHjjoLNiUykmJrw/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1966734159"
            },
            {
              "name": "text",
              "value": "={{ $json.ai_response }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1250, 400],
      "id": "telegram-response",
      "name": "Telegram Response"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Trigger edit", "type": "main", "index": 0 }]]
    },
    "Trigger edit": {
      "main": [[{ "node": "If Calendar", "type": "main", "index": 0 }]]
    },
    "If Calendar": {
      "main": [
        [{ "node": "Create Event", "type": "main", "index": 0 }],
        [{ "node": "Brain Service", "type": "main", "index": 0 }]
      ]
    },
    "Create Event": {
      "main": [[{ "node": "Calendar Confirm", "type": "main", "index": 0 }]]
    },
    "Brain Service": {
      "main": [[{ "node": "Map Response", "type": "main", "index": 0 }]]
    },
    "Map Response": {
      "main": [[{ "node": "Telegram Response", "type": "main", "index": 0 }]]
    }
  }
}